{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="#" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">INICIO</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}

                    <h1>saliste cagando waren!</h1>


                    <a href="{% url 'main:homepage' %}">ir al homepage</a>
                    <a href="{% url 'main:login' %}">ir al login</a>
                    <a href="{% url 'main:register'%}">ir al registro</a>

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>